.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Montserrat";
}
body {
  margin: 0;
}

@media screen and (max-width: 950px) {
  .App {
    padding-top: 20px;
  }
}
