@use './utils/variables.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
}


.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: variables.$font_primary;
}

.home-div {
  flex: 1;
}