@use '../utils/mixins.scss';
@use '../utils/variables.scss';

@include mixins.mobile-first {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 20px;
    flex: 1;
    .about-banner {
      height: 111px;
      width: 100%;
      margin-top: 20px;
      background-color: variables.$background_black;
      mix-blend-mode: darken;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.6;
      }
    }
    .about-collapse {
      width: 100%;
    }
  }  
}

@include mixins.tablet {
  .about-container {
    .about-banner {
      width: 100%;
      height: 160px;
      margin-top: 20px;
    }
    .about-collapse {
      width: 80%;
    }
  }
}

@include mixins.desktop {
  .about-container {
    margin: 10px 60px;
    .about-banner {
      height: 223px;
      margin-top: 40px;
    }
    .about-collapse {
      width: 80%;
    }
  }
}
