@use '../utils/mixins.scss';
@use '../utils/variables.scss';

@include mixins.mobile-first {
    .accomodation-div {
        width: 100%;
        padding: 0 20px;
    }
    .infos-container {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 10px;
    }
    .accomodation {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 10px;
        .accomodation-header {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 6px;
            .accomodation-title {
                font-size: 1.125rem;
                line-height: 1.56rem;
                color: variables.$color_tertiary;
            }
            .accomodation-location {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
    .accomodation-tags {
        width: auto;
        .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            .accomodation-tag {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: variables.$color_tertiary;
                height: 18px;
                width: auto;
                padding: 0 15px;
                white-space: nowrap;
                line-height: 0.875rem;
                font-size: 0.75rem;
                font-weight: 700;
                color: variables.$color_primary;
                border-radius: 5px;
            }
        }
    }
    .user {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .accomodation-host {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
            p {
                display: flex;
                align-items: center;
                width: 93px;
                font-size: 0.875rem;
                line-height: 1.063rem;
                text-align: right;
                color: variables.$color_tertiary;
            }
            img {
                display: flex;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50px;
            }
        }
    }
    .accomodation-stars {
        position: relative;
        width: 100%;
        padding-top: 20px;
    }
    .collapse-container {
        width: auto;
        .collapse-description {
            width: 100%;
        }
    }
    .filled-star {
        fill: variables.$color_tertiary;
      }
      
      .empty-star {
        fill: variables.$color_stars;
      }
}

@include mixins.tablet {
    .collapse-container {
        display: flex;
        flex-direction: row;
        gap: 80px;
        .collapse-description {
            width: 50%;
        }
        .collapse-equipment {
            width: 50%;
        }
    }
}

@include mixins.desktop {
    .accomodation-div {
        width: auto;
        margin: 50px 60px;
        padding: 0;
    }
    .accomodation {
        position: relative;
        padding-top: 20px;
        .accomodation-header {
            .accomodation-title {
                font-size: 1.75rem;
                line-height: 3.125rem;
            }
        }
    }
    .accomodation-tags {
        padding-top: 10px;
    }
    .user {
        .accomodation-host {
            position: absolute;
            bottom: 164px;
            p {
                font-size: 1rem;
            }
            img {
                width: 64px;
                height: 64px;
            }
        }
    }
    .accomodation-stars {
        .empty-star-container {
            position: absolute;
            right: 2px;
            top: -40px;
            .star {
                width: 160px;
                height: 36px;
            }
        }
    }
    .collapse-container {
        display: flex;
        flex-direction: row;
        gap: 80px;
        .collapse-description {
            width: 50%;
        }
        .collapse-equipment {
            width: 50%;
        }
    }
}