@use '../utils/mixins.scss';
@use '../utils/variables.scss';

@include mixins.mobile-first {
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 20px;
    color: variables.$color_tertiary;
      .error-number {
        padding: 113px 0;
        margin: 0;
        font-size: 6rem;
        font-weight: 700;
      }
      .error-text {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 143%;
        text-align: center;
        text-wrap: balance;
      }
    }
    .error-link {
        padding: 113px 0;
        font-size: 0.875rem;
        font-weight: 500;
        color: black;
    }
  
}

@include mixins.tablet {
  .error {
      .error-number {
        font-size: 140px;
      }
  }
}

@include mixins.desktop {
.error {
  .error-number {
    font-size: 220px;
  }
  }
}