@media screen and (min-width: 360px) {
    .header-div {
        width: auto;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        gap: 30px;
        .logo-div {
          width: 50%;
          img {
            width: 148px;
          }
        }
        .nav-div {
            width: 50%;
            ul {
                text-transform: uppercase;
                text-wrap: nowrap;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 26px;
                color: black;
                .nav-link {
                    text-decoration-line: none;
                    color: black;
                    font-size: 12px;
                    font-weight: 500;
                    &:hover {
                        text-decoration-line: underline;
                    }
                }
            }
        }
        
      }
}
